<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 * Copyright 2012 University of Southern California
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *    http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
-->
<!-- 
 * File for SCANNER Web Container
 * 
 * @author Serban Voinea
 * 
-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>scanner</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>registryURL</param-name>
    <param-value>http://aspc.isi.edu:8088/scannerV2/registry/</param-value>
  </context-param>
  <context-param>
    <param-name>trustStoreType</param-name>
    <param-value>JKS</param-value>
  </context-param>
  <context-param>
    <param-name>trustStorePassword</param-name>
    <param-value>scannerca</param-value>
  </context-param>
  <context-param>
    <param-name>trustStoreResource</param-name>
    <param-value>etc/security/scanner-ca-certs.jks</param-value>
  </context-param>
  <context-param>
    <param-name>keyStoreType</param-name>
    <param-value>PKCS12</param-value>
  </context-param>
  <context-param>
    <param-name>keyStorePassword</param-name>
    <param-value>*********</param-value>
  </context-param>
  <context-param>
    <param-name>keyStoreResource</param-name>
    <param-value>etc/security/********</param-value>
  </context-param>
  <context-param>
    <param-name>keyManagerPassword</param-name>
    <param-value>*********</param-value>
  </context-param>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>edu.isi.misd.scanner.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>edu.isi.misd.scanner.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Query</servlet-name>
    <servlet-class>edu.isi.misd.scanner.servlets.Analyze</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Query</servlet-name>
    <url-pattern>/query</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Registry</servlet-name>
    <servlet-class>edu.isi.misd.scanner.servlets.Registry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registry</servlet-name>
    <url-pattern>/registry</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Echo</servlet-name>
    <servlet-class>edu.isi.misd.scanner.servlets.Echo</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
</web-app>
