body {
    background: url("../images/headerbg.png") repeat-x scroll 0% 0% rgb(255, 255, 255);
    font-family: Tahoma,Verdana,Arial,sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 11px;
    color: rgb(66, 66, 66);
    text-align: center;
    line-height: 1.4;
}


div#wrapper {
    padding: 0px;
    width: 940px;
    margin: 0px auto;
    text-align: left;
}

#tophead {
    background-color: rgb(247, 246, 244);
    clear: both;
    text-align: left;
    line-height: normal;
    background-image: url("../images/header_ban.png");
    background-repeat: repeat-x;
    position: relative;
    height: 100px;
}

#content {
    border-top: 2px solid rgb(244,244,244);
}

#footer {
    margin: 0px auto;
    height: 70px;
    text-align: left;
    line-height: 20px;
    color: rgb(0, 0, 0);
    font-size: 10px;
    background: rgb(244, 244, 244);
    padding-top: 10px;
    padding-left: 165px;
}

.double_bottom_border {
	border-bottom: 3px double;
}

.method_border {
	border: 1px solid gray;
}

.method_margin {
	margin: 5px;
}

#ajaxSpinnerContainer, #ajaxAnalyzeSpinnerContainer {
	height:11px;
	margin: 25px;
	display:none;
}

#ajaxSpinnerImage, #ajaxAnalyzeSpinnerImage {
	display:none;
}

#profileTable td.nowrap {
	white-space:nowrap;
}

#profileTable {
	border-spacing: 5px 10px;
}

#profileTable td {
	background-color: white;
	border: none;
	vertical-align:text-top;
}

#paramsHelpDiv {
	margin: 25px;
}

.contactsTable {
	border-spacing: 5px 0px;
}

table.sitesStatus {
	border-collapse:collapse;
	width:85%;
}

table.sitesStatus td, table.sitesStatus th {
	border:1px solid black;
	padding:5px;
}

a.banner-text {
	font-size: 0.88em !important;
	font-weight: bold;
	font-family: georgia, trebichet ms, serif;
}
a.mailto {
	text-decoration:none;
	color: #800000;
}

div.topMenu {
	float: right;
}

a.link-style:link {
	text-decoration:none;
	color: #024A68;
}

a.link-style:visited {
	text-decoration:none;
	color: #800000;
}

a.link-style:hover {
	/*text-decoration:underline;*/
	color: #800000;
}

.box {
  font: 10px sans-serif;
}

.box line,
.box rect,
.box circle {
  fill: #fff;
  stroke: #000;
  stroke-width: 1.5px;
}

.box .center {
  stroke-dasharray: 3,3;
}

.box .outlier {
  fill: none;
  stroke: #ccc;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}

div.results_border {
	border: 1px solid black;
}

table.attributes_list {
  border-collapse: collapse;
}

tr.attribute_heading {
  background-color: #990000;
  color: #ffcc00;
  /* white-space:nowrap; */
}

th.attribute_value {
  border: 1px solid black;
  text-align: center;
  /* white-space:nowrap; */
}

.attribute {
  border: 1px solid black;
  /* white-space:nowrap; */
}

tr.uneven {
  background-color: #cccccc;
}

label.wizard_label {
	font-weight: bold;
}

label.wizard_field_required {
	font-weight: bold;
	color: red;
}

div.wizard_layer {
	/*overflow:auto;*/
	width: 95%;
}

p.wizard_heading {
	width: 99%;
	/*margin: 1px;*/
	padding: 3px 10px;
	cursor: pointer;
	/*position: relative;*/
	border-radius: 10px;
	background-color: rgb(247, 247, 247);
}

div.wizard_content {
	width: 95%;
}

table.add_staff, table.add_protocol, table.add_instance {
	background-color: #CCEEFF;
}

table.update_study {
	background-color: #CCEEFF;
	border-spacing: 5px 0px;
}

table.manageStudyStaffTable {
	white-space:nowrap;
	border-spacing: 5px 10px;
	width: 100%;
}

td.role_name {
	font-weight: bold;
    text-align: right;
}

td.tag {
    text-align: right;
}

div.placeHolder {
    text-align: center;
    width: 100%;
    background: rgb(244, 244, 244);
}

table.manageStudyProtocols {
	border-collapse:collapse;
	border-spacing: 0px 0px;
}

td.protocol_border {
	border:1px solid black;
	vertical-align: top;
}

td.protocol_valign, span.protocol_valign {
	vertical-align: top;
}

th.protocol_border {
	border:1px solid black;
    text-align: center;
}

span.wizard_heading_protocol {
	cursor: pointer;
	/*position: relative;*/
	border-radius: 10px;
	background-color: rgb(247, 247, 247);
}

div.wizard_content_protocol {
}

span.active {
    display: block;
    text-align: right;
}

ol.blank {
	list-style-type: none;
}

td.expand_collapse_heading {
	font-size:20px;
	font-weight:bold;
}

td.expand_collapse_img {
	vertical-align:bottom;
}

/* Style Definitions */
table.gridtable {
	font-family: Helvetica,arial,sans-serif;
	font-size:11px;
	color:black;
	border-width: 1px;
	border-color: black;
	border-collapse: collapse;
}

table.gridtable td {
	border-width: 1px;
	padding: 4px;
	border-style: solid;
	border-color: black;
}

table.gridtable th {
	border-width: 0px;
	padding: 8px;
}

p.Arial10BoldText, li.Arial10BoldText, div.Arial10BoldText
	{mso-style-name:Arial10BoldText;
	margin-top:1.0pt;
	margin-right:0in;
	margin-bottom:1.0pt;
	margin-left:0in;
	text-autospace:none;
	font-size:10.0pt;
	font-family:"Arial","sans-serif";
	font-weight:bold;
	}

p.Arial8BoldText{
	margin-top:1.0pt;
	margin-right:0in;
	margin-bottom:1.0pt;
	margin-left:0in;
	text-autospace:none;
	font-size:8.0pt;
	font-family:"Arial","sans-serif";
	font-weight:bold;
	}
	
p.DataField11pt {
	margin:0in;
	text-autospace:none;
	height:11px; 
	font-family:"Arial","sans-serif";
}

p.Arial10ptlineitem, li.Arial10ptlineitem, div.Arial10ptlineitem
	{mso-style-name:"Arial10ptline item";
	margin:0in;
	margin-bottom:.0001pt;
	text-autospace:none;
	font-size:10.0pt;
	font-family:"Arial","sans-serif";}

#prepToResearchDiv  h2{
	align:center;
	text-autospace:none;
	font-size:11.0pt;
	font-family:"Arial","sans-serif";
	font-weight:bold;
}

/* List Definitions */


.ptrSelection {
	width: 800px;
}
	.ptrSelection .dropDown {
		float: left;
		margin-right: 10px;
	}

	.ptrSelection button {
		float: left;
		
		width: 200px;
		margin-top: 10px;
	}
